body {
  margin: 0;
  max-width: 1140px;
  margin: 0 auto;
  padding: 150px 0;
}

.container-outer {
  width: 100%;
  column-count: 3;
  column-gap: 0;
  column-width: 30%;
}

.container-outer img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.container-box {
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  border-radius: 10px;
  display: inline-block;
}

.container-box-inner {
  padding: 5% 10%;
}